<div class="grid">
    <article class="center">
        <img src={{poster}} alt="Poster of {{title}}"\>
    </article>
    <article>
        <h2>{{title}}</h2>
        <h3>{{genre}}<br>{{formatDate releaseDate}}<br>{{formatTime runtime}}</h3>
        <p>{{plot}}</p>
        <button class="remove button" id="{{title}}" type="button">Remove from Watchlist</button></div>
    </article>
</div>