<main class="container">
        
    <div class="center-text">
        <h1>Your Reel Report</h1>
        {{#if loggedIn}}
        <div class="grid">
            <button class="button" id="watchlist" value="{{movie.title}}" type="button">Add to Watchlist</button>
            <button class="button" type="button" onclick="location.reload()">I want another {{lowercase genre}} movie!</button>
        </div>
        {{else}}
        <p>Please <a href="/login">login</a> to add movie to your watchlist!</p>
        {{/if}}
    </div>

    <div class="flex-wrap">
        <article class="center">
            <img src={{movie.poster}} alt="{{movie.title}} Movie Poster"\>
        </article>
        <article class="card-width">
            <h2>{{movie.title}}</h2>
            <h5>{{genre}}<br>{{formatDate movie.releaseDate}}<br>{{formatTime movie.runtime}}</h5>
            <p>{{movie.plot}}</p>
        </article>
    </div>

</main>

{{#if loggedIn}}
<script src="/js/watchlist-movie.js"></script>
{{/if}}