<main class="container">
    <div class="grid">
        <h1>Your Reel Report</h1>
        <article class="center">
            <img src={{movie.poster}} alt="Poster of {{movie.title}}"\>
        </article>
        <article>
            <h2>{{movie.title}}</h2>
            <h3>{{genre}}<br>{{formatDate movie.releaseDate}}<br>{{formatTime movie.runtime}}</h3>
            <p>{{movie.plot}}</p>
        </article>
    </div>
</main>