<main class="container">
    <div class="grid">
        <h1>Your Reel Report</h1>
        <article>
            <img src={{Movie.poster}} alt={{Movie.title}}\>
            Movie Poster
        </article>
        <article>
            <h2>{{Movie.title}}</h2>
            <h3>{{Movie.genre}}<br>{{Movie.releaseDate}}<br>{{Movie.runTime}} Minutes</h3>
            <p>{{Movie.plot}}</p>
        </article>
    </div>
</main>

<script src="/js/movie-picker-logic.js"></script>